@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COURSE APP</h1>
    <p>
        <P class="btn btn-primary" href="/course/apply">Apply</P>
    </p>
</div>
