@model Candidate

<div class="display-6">
    Apply
</div>

<form>
    <div class="form-group my-2">
        <label >Email</label>
        <input name="Eamil" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label >FirstName</label>
        <input name="FirstName" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label >LastName</label>
        <input name="LastName" class="form-control" />
    </div>
    <div class="form-group my-2">
        <label >Age</label>
        <select class="form-control" name="Age" >
            <option value="18">18</option>
            <option value="18">19</option>
            <option value="18">20</option>
            <option value="18">21</option>
            <option value="18">22</option>
            <option value="18">23</option>
            <option value="18">24</option>
            <option value="18">25</option>
        </select>
    </div>

    <fieldset>
        <legend>Select One Course</legend>
        <p>
            <input type="radio" id="mvc" name="SelectedOneCourse" value="ASP.NET Core MVC">
            <label>ASP.NET Core MVC</label>
        </p>
        <p>
            <input type="radio" id="apı" name="SelectedOneCourse" value="ASP.NET Core API">
            <label>ASP.NET Core API</label>
        </p>
        <p>
            <input type="radio" id="blazor" name="SelectedOneCourse" value="Blazor">
            <label>Blazor</label>
        </p>
    </fieldset>

    <div>
        <button class="btn btn-primary" type="submit">Apply</button>
        <a  class="btn btn-warning"  href="/">Home</a>
    </div>
</form>